<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Tavi needs access to your camera to capture images for analysis.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Tavi needs access to save photos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Tavi needs access to your photo library to analyze images.</string>
</dict>
</plist>
